.intro,
.container {
  display: flex;
  flex-direction: column;
}

.intro {
  gap: 1.25rem;
}

.container {
  margin: 7% auto;
  align-items: center;
  gap: 4rem;
}

.hello {
  font-size: 2rem;
}

.occupation,
.name {
  color: #1f7a8c;
}

.welcome {
  font-size: 2rem;
  opacity: 0.7;
}

.buttons {
  display: flex;
  gap: 1rem;
}

@media (min-width: 40rem) {
  .hello {
    font-weight: bold;
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .image {
    margin-left: 4rem;
  }
}
